@import '/src/variables.scss';

.badge {
    background-color: $background-secondary;
}

.category-card {
    border: 2px solid rgba(255, 255, 255, 0.09);
}

.category-card:hover {
    border: 2px solid $background-secondary;
    opacity: 90%;
}