@import 'variables';

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
    justify-self: center;
}

.icon-primary {
    color: $icon-primary;
}

.text-primary {
    color: $text-primary !important;
}

.text-secondary {
    color: $text-secondary !important;
}