$icon-primary: white;
$text-primary: white;
$text-secondary: grey;
$background-secondary: #212529;
$disabled-background: #ccc;
$disabled-text: #666;
$disabled-border: #999;
$btn-background-primary: #212529;
$btn-background-secondary: white;
$btn-color-primary: white;
$btn-color-secondary: #212529;
$btn-border-secondary: #212529;
